# Charting a Pandas Dataframe

## Task
You are tasked by prof Oak to create a bar chart of the top 10 legendary Pokemon by special attack.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Read file
pokemon = pd.read_csv(r'../../../resources/data/Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# Build dataframe with top 10 legendary Pokemon
legendary = pokemon.loc[pokemon['Legendary'] == True].sort_values(by="Sp. Atk", ascending=False).head(10)
legendary.head()

In [ ]:
# Set x-axis and tick locations
x_axis = np.arange(len(legendary))
tick_locations = [value for value in x_axis]

# Build plot
plt.xlabel('Pokemon')
plt.ylabel('Sp. Atk')
plt.title('Top 10 Legendary Pokemon by Sp. Atk')
plt.bar(x_axis, legendary['Sp. Atk'], align='center')
plt.xticks(tick_locations, legendary['Name'], rotation=90)
plt.show()

## Task
Now professor Birch asks you to create a pie chart of the type 1 for all Pokemon in generation 2.

In [ ]:
# Build dataframe with all type 1 pokemon in generation 2 
genTwoType = pokemon.loc[pokemon['Generation'] == 2].groupby(by=['Type 1'])['Type 1'].count().reset_index(name='Count')
genTwoType.head()

In [ ]:
# Create pie chart 
plt.title('Count of Gen 2 Pokemon by Type 1')
plt.pie(genTwoType['Count'], labels=genTwoType['Type 1'], shadow=True, autopct='%.f', startangle=90)
plt.axis('equal')
plt.show()